# Uygulama modu
# true  = mock veri kullan
# false = gerçek SQL Server kullan
USE_MOCK=true

# SQL Server bağlantı bilgileri
DB_SERVER=localhost
DB_NAME=SinavPlanlamaDB
DB_USER=App_Admin
DB_PASSWORD=Admin_12345!
DB_PORT=1433
DB_ROLE=admin